.App {
  text-align: center;
}

.title {
  margin-top: -4rem;
  margin-bottom: 4rem;
}

.icons {
  display: flex;
  margin-bottom: 2rem;
}

.icon {
  color: white;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: whitesmoke;
  min-width: 20rem;
  min-height: 24rem;
  padding: 2rem;
  padding-top: 1.2rem !important;
}

.tabs {
  padding-bottom: 2rem;
}

.form-control {
  min-width: 16rem !important;
  margin-bottom: 2rem !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .title {
    max-width: 27rem;
  }
  .card {
    width: 80%;
  }
}
